name: CI/CD - FastAPI to Harbor + VM Deploy

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: self-hosted

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Harbor (HTTP insecure workaround)
      run: echo "${{ secrets.HARBOR_PASSWORD }}" | docker login 192.168.200.20 --username ${{ secrets.HARBOR_USERNAME }} --password-stdin


    - name: Build & Push to Harbor
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: 192.168.200.20/api_python/backend:latest

    - name: Deploy via SSH to VM
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.VM_HOST }}
        username: ${{ secrets.VM_USER }}
        key: ${{ secrets.SSH_PRIVATE_KEY }}
        script: |
          cd ~/integration-compose
          docker login 192.168.200.20 -u ${{ secrets.HARBOR_USERNAME }} -p ${{ secrets.HARBOR_PASSWORD }}
          docker compose pull
          docker compose up -d
